In [2]:
import pandas as pd
import os
import glob
from pathlib import Path

In [12]:
p = Path("/Users/wangz/Desktop/DT/Data/Tem_pre")
 
filelist=list(p.glob("**/*.csv"))

In [20]:
df_from_each_file = (pd.read_csv(f, sep=',') for f in filelist)
df_merged   = pd.concat(df_from_each_file, ignore_index=True)

In [21]:
df_merged

          Unnamed: 0        Date  tmax  tmin  prcp
0                  1  1894-01-01  60.0  41.0  0.00
1                  2  1894-01-02  58.0  50.0  0.40
2                  3  1894-01-03  57.0  42.0  0.00
3                  4  1894-01-04  53.0  42.0  0.28
4                  5  1894-01-05  50.0  38.0  0.00
...              ...         ...   ...   ...   ...
10475909       46747  2021-12-27  32.0   1.2  0.22
10475910       46748  2021-12-28  22.1  -5.8  0.06
10475911       46749  2021-12-29  20.1  -4.9  0.00
10475912       46750  2021-12-30   NaN   NaN   NaN
10475913       46751  2021-12-31   NaN   NaN   NaN

[10475914 rows x 5 columns]

In [26]:
df_merged=df_merged.groupby(df_merged['Date']).mean()

              Unnamed: 0       tmax       tmin      prcp
Date
1851-01-01      1.000000        NaN        NaN  0.000000
1851-01-02      2.000000        NaN        NaN  0.000000
1851-01-03      3.000000        NaN        NaN  0.000000
1851-01-04      4.000000        NaN        NaN  0.000000
1851-01-05      5.000000        NaN        NaN  0.000000
...                  ...        ...        ...       ...
2021-12-27  49881.304762  51.081951  34.093171  0.070637
2021-12-28  49882.304762  49.038049  33.247059  0.129660
2021-12-29  49883.304762  46.960784  32.176471  0.110490
2021-12-30  49884.304762  50.422165  34.558462  0.092959
2021-12-31  49885.304762  50.385787  34.228426  0.040558

[62457 rows x 4 columns]

In [27]:
df_merged.to_csv('Tem_pre.csv')

In [7]:
p = Path("\Documents\Master DT\Data")
filelist=list(p.glob("**/*.txt"))

In [29]:
dfs=[]
for file in filelist:
    f = open(file,'r')
    row=[]
    data = f.readlines()
    for line in data:
        if not line.strip("\n").startswith('#'):
            line = line.rstrip('\n')
            row.append(line)
    row=row[1:]
    z = [i.split(',') for i in row]
    df = pd.DataFrame(z, columns=['Date','station_num','station_name','SWE'])
    dfs.append(df)

In [34]:
SWE_merged = pd.concat(dfs, ignore_index=True)

In [40]:
SWE_merged['SWE']=pd.to_numeric(SWE_merged['SWE'])

SWE_merged.drop(columns=['station_num', 'station_name'])

               Date  SWE
0        1990-10-01  0.0
1        1990-10-02  0.0
2        1990-10-03  0.0
3        1990-10-04  0.0
4        1990-10-05  0.0
...             ...  ...
8242764  2021-09-26  0.0
8242765  2021-09-27  0.0
8242766  2021-09-28  0.0
8242767  2021-09-29  0.0
8242768  2021-09-30  0.0

[8242769 rows x 2 columns]

In [41]:
SWE_merged=SWE_merged.groupby(SWE_merged['Date']).sum()

In [43]:
SWE_merged.to_csv('SWE_sum.csv')

In [27]:
p = Path("\Documents\Github\MasterDT\Data\canadian")
filelist=list(p.glob("**/*.csv"))

In [28]:
df_from_each_file = (pd.read_csv(f, sep=',') for f in filelist)
ca_merged   = pd.concat(df_from_each_file, ignore_index=True)

In [29]:
ca_merged

,x,y,STATION_NAME,CLIMATE_IDENTIFIER,ID,LOCAL_DATE,PROVINCE_CODE,LOCAL_YEAR,LOCAL_MONTH,LOCAL_DAY,...,SPEED_MAX_GUST,SPEED_MAX_GUST_FLAG,COOLING_DEGREE_DAYS,COOLING_DEGREE_DAYS_FLAG,HEATING_DEGREE_DAYS,HEATING_DEGREE_DAYS_FLAG,MIN_REL_HUMIDITY,MIN_REL_HUMIDITY_FLAG,MAX_REL_HUMIDITY,MAX_REL_HUMIDITY_FLAG
0,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.11,2021-01-11 00:00:00,BC,2021,1,11,...,46.0,NaN,0.0,NaN,9.0,NaN,74.0,NaN,94.0,NaN
1,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.12,2021-01-12 00:00:00,BC,2021,1,12,...,50.0,NaN,0.0,NaN,8.3,NaN,88.0,NaN,98.0,NaN
2,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.13,2021-01-13 00:00:00,BC,2021,1,13,...,91.0,NaN,0.0,NaN,10.2,NaN,NaN,M,NaN,M
3,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.14,2021-01-14 00:00:00,BC,2021,1,14,...,NaN,M,0.0,NaN,13.0,NaN,62.0,NaN,90.0,NaN
4,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.15,2021-01-15 00:00:00,BC,2021,1,15,...,45.0,NaN,0.0,NaN,10.5,NaN,78.0,NaN,98.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57006,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.6,2021-01-06 00:00:00,BC,2021,1,6,...,54.0,NaN,0.0,NaN,11.3,NaN,77.0,NaN,97.0,NaN
57007,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.7,2021-01-07 00:00:00,BC,2021,1,7,...,NaN,M,0.0,NaN,12.4,NaN,76.0,NaN,97.0,NaN
57008,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.8,2021-01-08 00:00:00,BC,2021,1,8,...,39.0,NaN,0.0,NaN,13.7,NaN,73.0,NaN,98.0,NaN
57009,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.9,2021-01-09 00:00:00,BC,2021,1,9,...,41.0,NaN,0.0,NaN,14.8,NaN,70.0,NaN,99.0,NaN
57010,-123.183889,49.194722,VANCOUVER INTL A,1108395,1108395.2021.1.10,2021-01-10 00:00:00,BC,2021,1,10,...,33.0,NaN,0.0,NaN,11.1,NaN,76.0,NaN,95.0,NaN

In [32]:
ca_new=pd.DataFrame()
ca_new=ca_merged.groupby(ca_merged['LOCAL_DATE']).agg({'MEAN_TEMPERATURE': lambda x: x.mean(skipna=True)})
ca_new['min_humidity']=ca_merged.groupby(ca_merged['LOCAL_DATE']).agg({'MIN_REL_HUMIDITY': lambda x: x.mean(skipna=True)})
ca_new['max_humidity']=ca_merged.groupby(ca_merged['LOCAL_DATE']).agg({'MAX_REL_HUMIDITY': lambda x: x.mean(skipna=True)})
ca_new['precipitation']=ca_merged.groupby(ca_merged['LOCAL_DATE']).agg({'TOTAL_PRECIPITATION': lambda x: x.sum()})

In [33]:
ca_new

,MEAN_TEMPERATURE,min_humidity,max_humidity,precipitation
LOCAL_DATE,,,,
1992-12-04 00:00:00,-5.400000,NaN,NaN,0.0
1992-12-07 00:00:00,-7.200000,NaN,NaN,0.0
1992-12-09 00:00:00,-11.400000,NaN,NaN,0.0
1992-12-11 00:00:00,-5.600000,NaN,NaN,0.0
1992-12-12 00:00:00,-2.900000,NaN,NaN,0.0
...,...,...,...,...
2022-06-16 00:00:00,17.630769,47.769231,93.846154,55.0
2022-06-17 00:00:00,16.383333,48.916667,91.333333,37.8
2022-06-18 00:00:00,16.563636,48.500000,86.666667,20.9
2022-06-19 00:00:00,16.323077,44.230769,85.076923,0.4
2022-06-20 00:00:00,15.853846,50.230769,86.846154,6.6

In [65]:
#ca_merged=ca_merged.drop(columns=['x','y','LOCAL_YEAR','LOCAL_MONTH','LOCAL_DAY','TOTAL_RAIN','TOTAL_SNOW','SNOW_ON_GROUND','DIRECTION_MAX_GUST','SPEED_MAX_GUST','COOLING_DEGREE_DAYS','HEATING_DEGREE_DAYS','MIN_REL_HUMIDITY','MAX_REL_HUMIDITY'])

In [19]:
#ca_merged.to_csv('ca_Tem_pre.csv')

In [25]:
ca_new.to_csv('Data\ca_Tem_pre.csv')

In [20]:
p = Path("\Documents\Github\MasterDT\Data\Canadian_climate_history.csv")
ca_1=pd.read_csv(p, sep=',')

In [21]:
ca_1['mean_temp'] = ca_1.iloc[:, [1,3,5,7,9,11,13,15,17,19,21,23,25]].mean(skipna=True,axis=1)
ca_1['mean_prec'] = ca_1.iloc[:, [2,4,6,8,10,12,14,16,18,20,22,24,26]].sum(axis=1)

In [22]:
ca_1=ca_1[['LOCAL_DATE','mean_temp','mean_prec']]

In [26]:
ca_1.to_csv('Data\ca_Tem_pre_1.csv')

In [23]:
ca_1

                 LOCAL_DATE  mean_temp  mean_prec
0      01-Jan-1940 00:00:00 -11.971429        6.3
1      02-Jan-1940 00:00:00 -12.271429        8.4
2      03-Jan-1940 00:00:00 -11.728571        2.0
3      04-Jan-1940 00:00:00 -12.857143        2.1
4      05-Jan-1940 00:00:00 -12.257143       17.8
...                     ...        ...        ...
29216  28-Dec-2019 00:00:00  -3.092308        8.8
29217  29-Dec-2019 00:00:00  -3.792308       18.3
29218  30-Dec-2019 00:00:00  -3.369231       43.4
29219  31-Dec-2019 00:00:00  -1.361538       60.8
29220  01-Jan-2020 00:00:00  -1.446154       10.0

[29221 rows x 3 columns]